extends layout

block content
  h1 Login or Create Account
  div(class='shadow rounded p-3 mt-3')
    a(class='btn btn-primary' href='/login/oauth/recheck') Login with Recheck
    //- form
    //-     div(class='form-group')
    //-       label(for='username') Username
    //-       input(class='form-control' type='text' name='username' id='username')
    //-     div(class='form-group')
    //-       label(for='username') Password
    //-       input(class='form-control' type='password' name='password')
    //-     div(class='form-group')
    //-         button(clsss='btn btn-primary rounded' type='submit') Login
